/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #d9dcd9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

#search-input {
    width: 60%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}

#search-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
