body {
    font-family: 'Poppins', sans-serif;
    background-color: #f1ece3;
    height: 85vh;
    margin: 0;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logo-container img {
    display: block;
    margin-bottom: 30px;
    width: 200px;
    height: auto;
}

.main-container {
    text-align: center;
}

#search-input {
    width: 60%;
    padding: 10px;
    font-size: 18px;
    border-radius: 100px;
    border: 1px solid #000;
    background-color: rgb(255, 254, 250);
}

#search-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
